.editPostForm {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .formInput {
    width: 100%;
    input {
      width: 100%;
      padding: 2rem;
    }

    textarea {
      width: 100%;
      height: 20rem;
    }

    .btnContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .disabled {
        color: #fff !important;
        background-color: #d1d2d3 !important;
      }
      .active {
        color: #fff;
        background-color: #7158e2;
        padding: 0.8rem;
        outline: none;
        border: none;
        border-radius: 0.8rem;
        margin-right: 0.8rem;

        &:hover {
          color: #7158e2;
          background-color: #fff;
        }
      }
    }
  }
}

.header {
  text-align: center;
  font-size: 1.9rem;
  color: #414b56;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}
