$primary-Color-dark: #7510f7;
$primary-Color-light: #9d54fa;
.navBar {
  .navBtn {
    background-color: #ffffff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    border-radius: 50%;
    border: none;
    z-index: 2000;
    box-shadow: 0rem .4rem 2rem rgba(104, 109, 224, 0.7);
    cursor: pointer;

    .rotate {
      width: 2.1rem;
      height: 2px;
      background-color: #333;
      margin: auto;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      transition: all 0.2s;
      &:nth-child(2) {
        background-color: transparent;
      }
      &:nth-child(1) {
        transform: rotate(135deg);
        top: 19px;
        left: 15px;
        position: absolute;
      }
      &:nth-child(3) {
        transform: rotate(-135deg);
        top: 19px;
        left: 15px;
        position: absolute;
      }
    }

    .default {
      width: 2.1rem;
      height: 2px;
      background-color: #333;
      margin: auto;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    &:hover {
      .default {
        margin-bottom: 0.7rem;
        margin-top: 0.7rem;

      }
    }
  }

  .btnBox {
    position: fixed;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 3rem;
    right: 3rem;
    background-image: radial-gradient(
      $primary-Color-dark,
      $primary-Color-light
    );
    z-index: 1000;
    transition: all 0.6s;
  }

  .navigation {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
  }

  .navigationList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  .item {
    margin: 1rem;
    position: relative;
    transition: all 0.4s;

    &:hover {
      transform: scale(0.9);
    }
  }

  .navLink {
    font-size: 3rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    transition: all 0.4s;

    &:hover,
    &:active {
      color: $primary-Color-dark;
      background-color: #ffffff;
      transform: translate(-50%);
    }
  }
}
