/* BUTTONS FONT */

.header {
  position: relative;
  height: 115vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0) 39.17%,
      rgba(117, 16, 247, 0.37) 99.06%
    ),
    url(../../../assets/images/homepage.jpg);
  background-size: cover;
  background-position: top;
}

.homeText {
  font-family: inherit;
  font-weight: 600;
  font-size: 4.2rem;
  line-height: 5.8rem;
  letter-spacing: -0.15rem;
  color: #414b56;

  animation: moveInLeft 1.5s ease-out;
  backface-visibility: hidden;
}

.homePageBtn {
  position: absolute;
  border: none;
  box-shadow: 0rem .4rem 2rem rgba(104, 109, 224, 0.5);
  border-radius: 5rem;
  color: rgba(104, 109, 224, 0.5);
  font-size: 1.4rem;
  line-height: 2.8rem;
  padding: 0.6rem;
  width: 20rem;
  left: 0.2rem;
  margin-top: 2.3rem;
  animation: moveOnTop 1.5s ease-out;
  backface-visibility: hidden;
  cursor: pointer;
  transition: all .2s;
}

.homePageBtn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.homePageBtn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}


.infoBox {
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translate(15%, -57%);
}

@keyframes moveInLeft {
  /* inital state of animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }
  /* final state of animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveOnTop {
  /* inital state of animation */
  0% {
    opacity: 0;
    transform: translatey(14rem);
  }

  80% {
    transform: translatey(-1rem);
  }
  /* final state of animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 700px) {
  .homeText {
      font-size: 2.6rem;
      line-height: normal;
      letter-spacing: 0rem;
  }
}