.readPost {
  width: 50rem;
    margin: 4rem auto 0rem auto;
    color: #414b56;

    h1 {
     
        text-align: center;
        padding: 2rem;
        font-size: 2.2rem;
    }

    h3 {
        margin-bottom: 2rem;
    }

}